@import './reset.scss';
@import './variable.scss';
@import './mixin.scss';

.block-5 {
  width: 5px;
  height: 5px;
}

.block-10 {
  width: 10px;
  height: 10px;
}

.block-20 {
  width: 20px;
  height: 20px;
}