// 超小屏幕(手机)
$screen-xs-max: 767px;

// 小屏幕(平板)
$screen-sm-min: 768px;
$screen-sm-max: 991px;

// 中等屏幕(桌面显示器)
$screen-md-min: 992px;
$screen-md-max: 1199px;

// 大屏幕(大桌面显示器)
$screen-lg-min: 1200px;
$screen-lg-max: 1919px;

// 超大屏幕(超大桌面显示器)
$screen-xl-min: 1920px;